.cart{
    position: sticky;
    top: 20px;
    padding: 5px ;
   

}
.cart img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding:20px;
}
.cart-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-info .del{
    padding-left: 10px;
}
.chooseForMe{
    color: green;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.chooseAgain{
    color:blueviolet;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}